Tugas2 Pertemuan 2_Pengembangan Agen AI tanpa Koding_Faturahman Alfarisi.json
{
  "name": "Tugas2 PAAtK Pertemuan 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "bfe53fe2-c869-458f-b646-697e7540e9cd",
      "name": "Telegram Trigger",
      "webhookId": "9a7a83e9-e091-4ca9-b50f-0b7cdf0394f8",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "w244ZBLYl8Bs10ZX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Kamu adalah asisten virtual dari NFA Training Center. Tugas utamanya adalah memberikan informasi mengenai program pelatihan, nama kursus, deskripsi, dan harga/biaya.\n\nBerikan jawaban sesuai dengan tool 'Get row(s) in sheet in Google Sheets'. Gunakan data dari tool tersebut untuk menjawab pertanyaan pengguna dengan akurat.\n\nSelalu berikan jawaban yang ramah dan profesional. Di akhir tiap jawaban tambahkan kalimat 'Terima kasih, Kak {{ $json.message.from.first_name }}'."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "d360027d-dea2-42b0-b248-1fc5ed61fb31",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "9b8f71fe-8c42-40d7-82c5-5daf1369a35c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "izPfqrh7A7HWllwn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "4391b0bf-bdcc-412a-8e54-718fb6579238",
      "name": "Send a text message",
      "webhookId": "4e8626b5-6ec7-4195-9c66-1b66b6044635",
      "credentials": {
        "telegramApi": {
          "id": "w244ZBLYl8Bs10ZX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1Wk7IdyaZjLC0Db0t1lf2nN3A8e8D6smKqQ9M8IZ8o-0",
          "mode": "list",
          "cachedResultName": "n8n 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wk7IdyaZjLC0Db0t1lf2nN3A8e8D6smKqQ9M8IZ8o-0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Wk7IdyaZjLC0Db0t1lf2nN3A8e8D6smKqQ9M8IZ8o-0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        352,
        208
      ],
      "id": "2217e762-4221-4c99-bb0d-ea379f3728ef",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleApi": {
          "id": "Maxa06ICVVrpdxwk",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b58abe67-71f8-4401-9445-9725b37822f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da07913422a52be8e470f8e4543daf8e81d268f929da46aad9b10170c692b2ea"
  },
  "id": "Gvr12PfrDUcOcb7F",
  "tags": []
}